<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ykd.store.system.mapper.Sku_specificationMapper">

    <!--    int insert(Brand_category brand_category);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku_specification (
            sku_id, attribute_id, attribute_name, attribute_value, unit, sort
        )VALUES (
            #{sku_id},#{attribute_id},#{attribute_name},#{attribute_value},#{unit},#{sort}
                )
    </insert>

    <!--    int insertBatch(List<Brand_category> list);-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku_specification(
        sku_id, attribute_id, attribute_name, attribute_value, unit, sort
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.sku_id},#{item.attribute_id},#{item.attribute_name},#{item.attribute_value},
             #{item.unit},#{item.sort}

            )
        </foreach>
    </insert>

    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE FROM  pms_sku_specification where id = #{id}
    </delete>

    <!--    int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        DELETE  FROM  pms_sku_specification WHERE id IN(
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!--    int update(Sku_specification sku_specification);-->
    <update id="update">
        UPDATE pms_sku_specification
            <set>
                #{sku_id},#{attribute_id},#{attribute_name},#{attribute_value},#{unit},#{sort}
            </set>
        WHERE
        id=#{id}
    </update>
   

</mapper>